.band {
  margin: 2% 2%;
  align-content: center;
  display: grid;
    
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}

.card-title{
  font-weight: bold;
}

.card-footer{
 border: none; 
}

.card{
  border:medium solid black; 
  border-radius: 5px;
}

#search-box{
  width: 500px;
  margin: auto;
  height: 47px;
  font-weight: bold;
  font-size: 16px;
  border-width: 5px;
  border-radius: 5px;
  border-color: black;
}

#search-box:focus{
  border-style: none;
}